<header>
	<h2>
		<a href = "{{.RelPermalink}}">{{- .Title -}}</a>
	</h2>
	{{ partial "social-share.html" . }}

	<aside>
		<time>
			Posted on <strong>{{- .Date | time.Format (default "Jan 2, 2006" .Site.Params.date_format) -}}</strong> by <strong>{{ .Params.Author }}</strong>
		</time>
	</aside>
</header>

{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
<a href = "{{.RelPermalink}}"><img src="{{ $featured_image }}" class = "featured" title = "{{ .Params.featured_image_caption | default "Sorry, this image does not have a title." }}" /></a>
{{ end }}


